*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html, body {
  font-family: 'Inter', sans-serif;
  background-color: #F4F4F4;
  margin: 0 auto;
}

/* General Styling */

.container{
     background-color: #0284C7;
    width:550px;
    height: 285px;
left:0;
right:0;
margin: 0 auto;  
text-align: center; 
color: white; 
display: flex; 
flex-direction: column;
}

section .conversion{
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
padding: 0;
width: 550px; 

}

.conversion {
background-color: #FFFFFF;
width: 500px; 
height: 108.57px;
margin-right: auto;
margin-left: auto;  
text-align: center;
left:0;
right: 0; 
padding: 0 0 20px 0;
 line-height: 1.1em; 
}


input {
    margin: auto; 
    border: 2px solid #FEF3C7;
  width: 117px;
   height: 83px; 
   font-size: 58px; 
   border-radius: 5px; 
padding-top:10px;
background-color: #0284C7;
color: white;
font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 58px;
line-height: 24px;
text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button{
  background-color: white; 
    width: 117px; 
    height: 42px; 
    margin: 26px auto; 
    font-family: 'Inter', sans-serif;
    border-radius: 5px;
    border: none; 
    font-size: 16px; 
    transition: all 0.2s ease-in-out;
}

button:active, button:hover { /*Clicked and held*/
width: 125px;
height: 45px; 
  box-shadow: 0px 2px 4px whitesmoke;
    transition: 0.5s;
}



 .length-div{
    margin-top: 36px;
}

.mass-div,  .length-div{
    margin-bottom: 23.43px;
   
}

 .volume-div{
    margin-bottom: 35.43px;
}

/* Text Styling */

p{
    color: #353535;
    margin-bottom: 18.56px;
    margin-top: 10px; 
}

h2{
    padding-top: 20px;
    color: #0C4A6E;
    padding-bottom: 18px;
   
}

h3{
    font-size: 28px; 
}
